

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	padding-top: 60px;
    overflow-x: hidden;
}

.slideshow-container {
}

.mainpage {
	min-height: 100%;
	
}



.navigation {
	background-color: hsl(210, 29%, 29% );
	height: 60px;
	-webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 5;
}

#button {
	margin-top: 13px;
} 


li {
	display: inline-block;
	color: hsl( 170, 6%, 91% );
}

#Home  {
	font-size: 20px;
	font-family: Cyberverse;
	font-weight: bold;
	margin-top: 20px;

}

#navbar {
    background-color: hsl(210, 29%, 29% ); 
	margin: 0;
	padding: 0;
}

#navbar .fa {
	font-size: 1.6em;
	color: hsl( 192, 5%, 82% );
}

#navbar .fa:hover {
	color: hsl( 5, 85%, 51% ) ;
}

#logo img {
	margin-bottom: 10px;
	height: 50px;
	width: 60px;
	margin-left: 15px;
		
}

#all {
	float: right;
	padding-top: 23px;
	padding-right: 50px;
	font-size: 18px;
	color: white;
	font-family: 'Quicksand', sans-serif;
}

#all:hover {
	
	color: hsl( 192, 5%, 82% );
}


h4 {
	text-align: center;
}

p {
	
	padding-right: 20px;
	padding-left: 20px;
	color: hsl(  210, 29%, 21%  );
	font-family: 'Quicksand', 'sans-serif'; 
}



#description1{
	height: 350px;
	margin: 0;
}

#description1 img{
	width: auto;
	height: 300px;
	float: right;
}

#description2 a p {
	font-size: 15px;
	font-weight: bolder;
	text-align: right;
}

#description2 a {
	text-decoration: none;
}

#description2 a p:hover {
	color: hsl(217, 87%, 46%);
}



#description2{
	height: 350px;
	margin-right: 0;
}

#description2 #head {
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
	background-color: hsla(210, 29%, 29%,0.9 );
	color: hsl( 192, 5%, 82% );
	margin-bottom: 20px;
}



.join {
	margin: auto;
	width: 200px;
	margin-top: 120px;
	margin-bottom: 40px;
}


.join #scroll h2 {
	padding: 10px;
	border: 2px solid #283D40;
	text-align: center;
	width: 200px;
	font-family: 'Quicksand', sans-serif;
	color: #283D40;
	font-weight: bold;
	
}



.join  h2:hover {
	text-decoration: none;
	color: white;

}

.JoinUs {
	background-color: hsl(203, 20%, 22%);
}

label {
	color: hsl( 203, 4%, 94% );
}

#register {
	font-family: 'Quicksand', sans-serif;
	margin-left: 20px;
	color: hsl( 203, 4%, 94% );
}

#terms{
	font-family: 'Quicksand', sans-serif;
	margin-left: 20px;
	color: hsl( 203, 4%, 94% );
	font-size: 12px;
}

div a:hover {
	text-decoration: none;
	
	
}

h2:hover {
	background-color: hsl(203, 18%, 75%);
}



#description2 p{
	font-size: 12px;
	text-justify: none;
}

.DisplayGallery {
	margin-top: 150px;
	margin-bottom: 190px;
	background-color: black;
	padding-top: 40px;
	padding-bottom: 40px;
	
}

.DisplayGallery #FirstGallery {
	margin: 0 auto;
	display: flex;
}



.DisplayGallery #SecondGallery {
	display: flex;
	margin: 0 auto ;
}

.DisplayGallery #FirstGallery li img{
	height: 180px;
	width: 320px;
	
	
}

.DisplayGallery #FirstGallery li img:hover{
	filter: brightness(50%);
}

.DisplayGallery #SecondGallery li img:hover{
	filter: brightness(50%);
}

.DisplayGallery #SecondGallery li img{
	height: 180px;
	width: 320px;

}

#instruction {
	color: white;
	padding-top: 10px;
	font-size: 10px;
	text-align: center;
}

#gallery {
	text-align: center;
	color: white;
}


.gallery hr {
	width: 20%;
}


/*text fields*/
input:not([type="submit"]){
	width: 300px;
	height: 40px;
	border-radius: 6px;
	border: 1px solid #acacac;
	text-align: center;
	font-family: 'Open Sans', 'sans-serif';
	margin-bottom: 20px;
}

form {
	padding-bottom: 15px;
}

select:not([type="submit"]){
	width: 180px;
	height: 40px;
	border-radius: 6px;
	border: 1px solid #acacac;
	text-align: center;
	font-family: 'Open Sans', 'sans-serif';
	margin-bottom: 20px;
}


/*submit*/
input[type="submit"]{
	  font-size: 30px;
  color: #fff;
  background-color: #55acee;
  box-shadow: 0 5px 0 0 #3C93D5;
  border: none;
  padding: 10px;
  width: 200px;
  display: inline-block;
  position: relative;
  outline: none;
  margin-top: 20px;
 font-family: 'Quicksand', 'sans-serif';
 
}

.JoinUs {
	margin: 0 auto;
	display: table;
}


/* text fields 
input:not([type="submit"]) {
  width: 300px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #acacac;
  margin-bottom: 15px;
  text-align: center;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  font-family: 'Open Sans', 'sans-serif';
}

input:not([type="submit"]):focus {
  color: #55acee;
  width: 370px;
  border: 1px solid #55acee;
  outline: none;
}

/* submit button 
input[type="submit"] {
  font-size: 30px;
  color: #fff;
  background-color: #55acee;
  box-shadow: 0 5px 0 0 #3C93D5;
  border: none;
  padding: 10px;
  width: 200px;
  display: inline-block;
  position: relative;
  outline: none;
  margin-top: 20px;
 font-family: 'Quicksand', 'sans-serif';
}
*/



#newsletter {
	font-family: 'Quicksand', sans-serif;
	margin-left: 20px;
}

#last {
	margin-bottom: 40px;
}






.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	margin: 0 auto;
    display: block;
	height: auto;
	max-width: 100%;
	line-height: 1;
	width: 100%; 
  }
  
  .item  p {
	  color: hsl(24, 71%, 94%);
	  font-size: 30px;
	  font-weight: bold;
  }

  #product-header {
	  margin-top: 20px;
	  margin-left: 10px;
	  border-left: 5px solid  hsl( 0, 82%, 54% );
	  padding-left: 10px;
	  font-family: 'Quicksand';
	  font-weight: bold;
  }
  

.footer {
  position: relative;
  clear:both;
  padding-top:10px;
  background-color: hsl(210, 9%, 55%);
}  

.footer li i{
	font-size: 26px;
	padding-right: 5px;
}

.footer p {
	padding-left: 40px;
	font-weight: bold;
	color: hsla( 210, 29%, 21%, 0.7);
}

#shadows {
	padding-top: 30px;
	background-color: hsl(192, 15%, 99%);
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
}

.col-sm-4 li {
	display: block;
	color: hsl( 170, 6%, 91% );
	padding: 2px;
	font-family: 'Quicksand', sans-serif;
}

.col-sm-4 #center {
	padding-left: 20px;
}


 
#inline li {
	display: inline-block;
}

#number p {
	padding: 0;
	margin: 0;
	text-decoration: underline;
}

.col-sm-4 #download  {
	display: inline-block;
	height: 60px;
	width: 150px;
}

.col-sm-4 #download img {
	height: 60px;
	width: 150px;
}

.text p {
	margin-top: 10px;
	font-size: 20px;
	color: hsl( 170, 6%, 91% );

}

@media only screen and (max-width: 700px){
	.item p {
		font-size: 16px;
	}
	
	#product-header {
		font-size: 15px;
		text-justify: none;
	}
}

@media only screen and (max-width: 1000px){
	#navbar  {
		font-size: 10px;
		padding-left: 20px;
		padding-bottom: 10px;
	}
}	

	
@media only screen and (max-width: 1000px){
	#all {
		font-size: 12px;
		padding-top: 10px;
	}
}